src/main/resources/db/migration/prod/V1763229638__Wow_Classic_Backup_Items.sql filter=lfs diff=lfs merge=lfs -text
src/main/resources/db/migration/test/V1763229638__Wow_Classic_Backup_Items.sql filter=lfs diff=lfs merge=lfs -text
